*{
    box-sizing: border-box; /*simplify padding border calc*/
}
body{ 
    padding: 50px;
    background-color: #040b14; /*black*/
}

.container{ /*contains main html*/
  background-color: #040b14; /*black*/
    width: 100%;
    height: 100dvh;
}

  
.profile h1 { /*title of page*/
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
.profile h1 a,
.profile h1 a:hover {
    color: #fff; /*white*/
    text-decoration: none;
  }
  
.profile .social-links a { /*for the icons */ 
    font-size: 18px;
    display: inline-block;/*make it stick on same */
    background: #212431; /*black*/
    color: #fff; /*white*/
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
.profile .social-links a:hover {/*hover over icons*/
    background: #149ddd; /*blue*/
    color: #fff; /*white*/
    text-decoration: none;
}

.links{ /* change styling of links */ 
    padding: 0;
    margin: 0;
}
.links ul{ /* change style of the list */
    padding: 0;
    margin: 0;
    color: white; /*white*/
    list-style-type: none ;
    display: grid;
    row-gap: 20px;
    margin-top: 30px;
    justify-content: center;  /* centers element middle */

}
.links li{ /*element themselves*/
  background: linear-gradient(to right, #0e122e, #4a5568); /*black to grey*/
  border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 350px;

}

.links a{  /* change style of the shape of each link */
    text-decoration: none;
    color: white; /*white*/
}

.links li:hover{ /* change color when hover*/
    background-color: #149ddd; /*blue background*/
    background: linear-gradient(to right, #149ddd, #149ddd); /*blue hover*/

    transition: background-color .5s ease;
}

@media (max-width: 768px){ /*  resize when expending */
  .links li{
    width: 250px;
  }
}
